.vscode/
.idea/
**/__pycache__/
*.so
*.pkl
*.pickle
*.yaml
*.ipynb_checkpoints
build/
dist/
*.egg-info/
tmp/
temp/
cache/
__pycache__
/venv
tryon/ll
.DS_Store
checkpoints/
*.pth
*.safetensors
*.jpg
*.log
*.pyc
.env